.corps
{
display: flex;
}
main .corps .corps-content img
{
height: 25rem;
width: 15 rem;
}
main .corps .corps-content 
{

width: 50%;
}
main .corps .item2 
{
 display: flex;
 justify-content: center;
 flex-direction: column;
}